._thumbnail {
  min-height: 100%;
  min-width: 100%;
}

._lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

._lightbox__img {
	max-width: 90vw;
	max-height: 80vh;
}

._lightbox:target {
	outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}